.userFavicon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4694e2;
  border: 1px solid #f8f9fa;
  overflow: hidden;
  cursor: pointer;
  margin-top: 2px;
  border: 1px solid #4694e2;
}

.userFavicon-link {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bolder;
}
