.custom-popup {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: -100%;
  width: 25%;
  height: calc(100vh - 70px);
  padding: 10px;
  background-color: white;
  transition: left 0.5s ease-in-out;
  overflow-y: auto;
  border: 10px solid rgb(160, 158, 158);
  border-radius: 5px;
}

.close-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.content {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-popup.pin-clicked {
  left: 0;
}

.closed {
  color: red;
  font-size: 20px;
}
.open {
  font-size: 20px;
  color: green;
}
.machine-detail {
  list-style: none;
  padding: 0;
}
.machine-detail li {
  margin-bottom: 10px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.score {
  font-size: 20px;
  font-weight: bold;
}

.favorite-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 3px;
}
.favorite-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: color 0.1s ease;
}
.favorite-icon-container {
  align-self: flex-start;
  background-color: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.favorite-icon.filled {
  color: #ff0000;
  background-color: none;
}

.favorite-icon:hover {
  fill: #ff0000;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msg {
  font-size: 18px;
  color: #333;
}

