.custom-popup {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: -100%;
  width: 25%;
  height: 100%;
  padding: 10px;
  background-color: white;
  transition: left 0.5s ease-in-out;
  overflow-y: auto;
  border: 30px solid;
  outline: 5px solid #fff;
  outline-offset: -28px;
  border-image: linear-gradient(
    45deg,
    #000066 0%,
    #57006b 11%,
    #8a0067 22%,
    #b8005f 33%,
    #db0054 44%,
    #f63741 56%,
    #ff692e 67%,
    #ff9705 78%,
    #ffb500 89%,
    #ffea00 100%
  );
  border-image-slice: 1;
}

.close-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.content {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-popup.pin-clicked {
  left: 0;
}

.closed {
  color: red;
  font-size: 20px;
}
.open {
  font-size: 20px;
  color: green;
}
.machine-detail {
  list-style: none;
  padding: 0;
}
.machine-detail li {
  margin-bottom: 10px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.score {
  font-size: 20px;
  font-weight: bold;
}
.msg {
  font-size: 18px;
  color: #333;
}
