.map-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.center-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 10000;
  font-size: xx-large;
  color: white;
  background-color: rgb(0, 151, 3);
  padding: 15px;
  border-radius: 30%;
  cursor: pointer;
}
