.map-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-width: 300px;
}

.center-button {
  position: absolute;
  bottom: 5vh;
  right: 50px;
  z-index: 10000;
  font-size: xx-large;
  color: white;
  background-color: #11a37a;
  padding: 15px;
  border-radius: 30%;
  cursor: pointer;
}
