.navbar {
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
  height: 70px;
  display: flex;
  padding: 0 40px 0px 0px;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo h1 {
  color: rgb(12, 167, 38);
  margin: 0;
  margin-left: 5px;
  background-color: liner-gradient(
    90deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.navbar-logo span {
  color: #fff;
}
.navbar-items {
  list-style: none;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.login-btn,
.signUp-btn,
.logOut-btn {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px;
}

.login-btn:hover,
.signUp-btn:hover,
.logOut-btn:hover {
  opacity: 0.8;
}

.login-btn,
.logOut-btn {
  background-color: rgb(0, 128, 0);
}

.signUp-btn {
  background-color: rgb(197, 2, 2);
}

/* hide the login and signup buttons when the user is logged in */
.hide {
  display: none;
}
